<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConexionBD"
			 connectionString="Data Source=ALEJANDRORODRIG;Initial Catalog=BibliotecaUniversitaria;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>